*{
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vmin;
    width: 80vmin;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

